/* Stuff for the entire page */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{
    --white: #f7f7f7;
    --green: #558b6e;
    --black: #3f3f3f;
    --blue: #2c4dd4;
    --orange: #f17354;
    --gray: #4c5b5c;
    --purple: #6d5af1;
}


body{
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background: var(--black);
    margin: 0rem;
    overflow: hidden;
    color: var(--white);
}

/* Header stuff */
.green{
    color: var(--green);
    font-weight:1000;
}
header{
    font-weight: 700;
    font-size: 4rem;
    display: flex;
    justify-content: center;
}


/* idk */
.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputs{
    width: 90%;
    height: 5%;
    margin-bottom: 5%;
    margin-top: 1%;
    
}
input{
    width: 100%;
    height: 100%;
}
.textBox{
    width: 90%;
    height: 75%;
    border: 5px solid var(--white);
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;

}
.textArea{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1%;
    overflow-y:visible;
    

}

/* Text Bubble */
.textBubble{
    width: 90%;
    height: 100%;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    background-color: var(--white);
    color: var(--black);
    padding-left: 1%;
    display: flex;
    align-items: center;
}
.aiBubble{
    flex: 0 0 auto;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    background-color: var(--green);
    color: var(--white);
}
.userArea, .aiArea{
    flex: 0 0 auto;
    padding-block: .5%;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: flex-end;
}
.aiArea{
    justify-content: flex-start;
}